config reference: bugtraq http://www.securityfocus.com/bid/
config reference: cve http://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: secunia http://www.secunia.com/advisories/
config reference: url http://
config reference: mcafee http://vil.nai.com/vil/content/v_
config reference: osvdb http://osvdb.org/show/osvdb/
config reference: msb http://technet.microsoft.com/en-us/security/bulletin/
config reference: nessus http://cgi.nessus.org/plugins/dump.php3?id=
